@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Order */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  @apply bg-primary;
}

p,
a,
span,
button {
  font-family: "DM Sans", sans-serif;
  @apply text-paragraph;
}

p {
  @apply text-base;
}

h1,
h2,
h3,
h4 {
  @apply text-white;
}

h2 {
  @apply text-2xl;
}

span {
  @apply text-sm;
}

button {
  @apply text-base;
}

.card {
  background:
    linear-gradient(#050520 0 0) padding-box,
    linear-gradient(180deg, #0a3a62, #050520) border-box;
  mask-composite: exclude;
  box-shadow: 0px -19px 105px 1px rgba(21, 116, 195, 0.3);
}
